html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #f9f9fa;
    color: #686b7c;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.acf{
	  background: #3d40f2;
    color: white;
    padding: 10px;
    display: inline-block;
    border-radius: 75px;
    font-size: 12px;
}
button{
  padding: 15px 30px;
  border-radius: 30px;
  border: 0;
  outline: none;
  background: #3d40f2;
  color: white;
  margin: 10px;
  box-shadow: rgb(178 177 194 / 44%) 0px 4px 9px 0;
  cursor: pointer;
}

.active{
  display: block
}

.erase{
  display: none;
}