html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #f9f9fa;
    color: #686b7c;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none
}

* {
  box-sizing: border-box;
}

img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;

}
.bg{
  background: url('/loading.gif');
  background-size: cover;
  background-position: center center;
  min-height: 300px;
}
.acf{
	  background: #3d40f2;
    color: white;
    padding: 10px;
    display: inline-block;
    border-radius: 75px;
    font-size: 12px;
}
button{
  padding: 15px 30px;
  border-radius: 30px;
  border: 0;
  outline: none;
  background: #3d40f2;
  color: white;
  margin: 10px;
  box-shadow: rgb(178 177 194 / 44%) 0px 4px 9px 0;
  cursor: pointer;
}
button:disabled {
  background: #f9f9f9;
  box-shadow: 0 0 black;
  color: #c3c3c3;
}

.active{
  display: block
}

.erase{
  opacity: 0;
  visibility: hidden;
  padding: 0;
  margin: 0;
}

input {
  height: 45px;
  width: 310px;
  border-radius: 36px;
  border: 1px solid rgb(235, 235, 235);
  background: #f9f9fa;
  outline: none;
  padding: 15px;
  margin: 30px auto;
  display: block;
}
::placeholder { 
  color: rgb(128, 128, 128);
  opacity: 1; 
}